body  {
    background-image: url("backgound.png");
    background-color: hsl(0, 100%, 74%);
    position: relative;
  }

html, body {
    height: 100%;
    width: 100%;
    }
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .container{
    position: absolute;
    display: flex;
    top: 300px;
    left: 150px;
  }
  .input-field{
    padding: 15px;
    
  }
  .form-container input{
    height: 45px;
    width: 360px;
    border-radius: 5px;
    padding: 10px;
    margin: 0px;

  }

  .form-container{
    background-color: white;
    border-radius: 8px;
    padding: 30px;
  }

  .btn{
    background-color: hsl(154, 59%, 51%);
    color: white;
    border: none;
  }

  .form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

  }

  .on-top{
    background-color: hsl(246, 25%, 77%);
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.form p{
    font-size: 12px;
  }

.lhs{
    width: 500px;
  }
.rhs{
  position: relative;
  top: -130px;
  left: 150px;
}
.para1 h1, p{
    color: white;
  }

.para-buttom{
    color: black;
  }

  span{
    color: red;
  }

  .para-buttom{
    margin-top: 10px;
  }

.text-input::placeholder{
  letter-spacing: 2px;
}












@media only screen and (max-width: 375px) {
.container{
  display: flex;
  flex-direction: column;
  top: 0;
  justify-content: center;
  position: absolute;

}
.rhs{
  position: relative;
  top: 100px;
}


}